.content-error {
	position: relative;
	padding: 15px 15px 0 15px;
}

.content-processbar {
	position: relative;
	padding: 15px 15px 0 15px;
}

.widget-user .box-footer {
	padding-top: 51px;
}

.layout-boxed {
	background-size: 175px 80px;
}


#tooltip {
  position: absolute;
  pointer-events: none;
  font-size: 0.7em;
  font-family: sans-serif;
  padding: 3px;
  width: auto;
  height: auto;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rbga(0, 0, 0, 0.4);
  pointer-events: none;
}

.value {
  white-space: pre-line;
  margin: 0;
}

.connect path:hover {
    stroke-width: 1px!important
}
 
.connect {
    stroke-width: .5px;
    stroke: #ccc
}

.active.connect {
    stroke-width: 1.5px;
    stroke: #5cb85c
}

